@import "./colours.scss";

* {
  // outline: solid black;
  font-family: "Noto Sans", sans-serif;
}

body,
html {
  background-color: $background-colour;
  margin: 0;
  padding: 0;
}
.main {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: start;
}

//css for inputs side
.edit-side {
  display: flex;
  flex-direction: column;
  margin: 2rem 2.5% 2rem 2.5%;
  justify-content: center;
  gap: 1rem;
}

.personal-details {
  background-color: $lightest-tone;
  border-radius: 20px;
  width: 95%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px $shadow-colour;

  > div {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;

    > input {
      all: initial;
      background-color: $background-colour;
      padding: 10px;
      border: solid $background-colour 1px;
      border-radius: 5px;
      margin-top: 0.3rem;
      font-family: "Noto Sans", sans-serif;
    }
  }
}

.education-input {
  gap: 10px;
  background-color: $lightest-tone;
  border-radius: 20px;
  width: 95%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px $shadow-colour;

  .education-input-entry {
    > div {
      > div:not(.dates):not(.edit-and-delete-container) {
        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        > input {
          all: initial;
          background-color: $background-colour;
          padding: 10px;
          border: solid $background-colour 1px;
          border-radius: 5px;
          margin-top: 0.3rem;
          margin-bottom: 0.3rem;
          font-family: "Noto Sans", sans-serif;
        }
      }
      .edit-and-delete-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: end;
      }
      .dates {
        display: flex;
        justify-content: space-between;

        > div {
          display: flex;
          flex-direction: column;

          > input {
            all: initial;
            background-color: $background-colour;
            padding: 10px;
            border: solid $background-colour 1px;
            border-radius: 5px;
            margin-top: 0.3rem;
            font-family: "Noto Sans", sans-serif;
          }
        }
      }
    }
  }
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: larger;
}

//css for cv side

.cv-side {
  display: flex;
  justify-content: center;
}

.cv-page {
  background-color: $lightest-tone;
  width: 800px;
  min-height: 1128px;
  margin: 2rem 2.5% 2rem 2.5%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px $shadow-colour;
}

.icon {
  height: 20px;
  width: 20px;
}
.cv-top {
  min-height: 9rem;
  background-color: $accent-colour;
  padding-top: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contact-info-display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;

    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  }
}
.name-display {
  font-size: 2rem;
  text-align: center;
  vertical-align: bottom;
  display: inline-block;
  font-weight: 700;
}

.cv-body {
  padding: 10px 50px;
  .section-header {
    background-color: $header-colour;
    text-align: center;
    padding: 2px;
  }
  .education-entry {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
    .leftHand {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .rightHand {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .school {
        font-size: larger;
        font-weight: 600;
      }
    }
  }
}

button {
  background: $button-colour;
  border: 1px solid $accent-colour;
  border-radius: 10px;
  padding: 10px;
  &:hover {
    background: darken($color: $button-colour, $amount: 20%);
  }
  &.delete {
    background-color: $delete-colour;
    &:hover {
      background: darken($color: $delete-colour, $amount: 20%);
    }
  }
}
